body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

#root {
    display: block;
    position: relative;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 0 8px 1px rgba(25,25,25,.3);

    width: 100%;
    height: same-as-width;
    max-width: 980px;
    min-width: 768px;

    font-family: 'museo-sans-rounded', sans-serif;
    color: #2a1a04;
    background-color: #fcece4;
}
