
// desktop

.swiper-slide {
    font-family: 'museo-sans-rounded', sans-serif;
    background-color: white;
    color: gray;
    width: 32.7%;
    margin: 10px;
    display:inline-block;
    border: solid 1px #bbb;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .13);
    text-align: left;
    position: relative;
}

.thumb-image {
  position: relative;
  overflow: hidden;
  margin: 5px;
}

.thumb-pic {
  position: relative;
  width: 100%;
  height: 294px;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-play-icon {
    display: block;
    width: 67px;
    height: 67px;
    content: '';
    text-align: center;
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    background: url('/assets/img/special/landing_pages/common/arrow-rounded-67.svg') center center no-repeat;
    background-size: contain;

    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumb-info {
  background: white;
  width: 100%;
  height: 60px;
}

.thumb-title {
    color: #464646;
    height: 24px;
    margin: 10px;
    margin-top: 15px;
    font-size: 11px;
    line-height: 1.1em;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumb-name {
    color: #ef1c48;
    height: 12px;
    margin: 10px;
    margin-top: 0;
    font-size: 11px;
    line-height: 1.1em;

    display:inline-block;
    width: 90%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.thumb-button {
    display: none;
}


// smartphone

.smartphone .swiper-slide {
    width: 196px;
    margin: 0;
    padding-bottom: 25px;
}

.smartphone .thumb-title {
    display: none;
}

.smartphone .thumb-name {
    font-size: 22px;
    font-weight: 300;
    min-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ef1c48;
    text-align: center;
    margin: 5px;
    margin-top: 8px;
}

.smartphone .thumb-button {
    font-size: 19px; //22px;
    font-weight: 700;
    display: block;
    padding: 8px 5px;
    text-align: center;
    color: #fff;
    border-bottom: solid 3px #a10033;
    background: #ef1c48;
    text-decoration: none;
    margin-top: 5px;
}
