
// desktop

.swiper-slide {
    font-family: 'museo-sans-rounded', sans-serif;
    background-color: white;
    color: gray;
    width: 32.7%;
    margin: 10px;
    display:inline-block;
    border: solid 1px #bbb;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .13);
    text-align: left;
    position: relative;
}

.thumb-image {
  position: relative;
  overflow: hidden;
  margin: 0; //5px;
  padding: 0;
}

.thumb-pic {
  position: relative;
  width: 100%;
  height: 294px;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-play-icon {
    display: block;
    width: 67px;
    height: 67px;
    content: '';
    text-align: center;
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    background: url('/assets/img/special/hot-sales/svg/arrow-rounded-67.svg') center center no-repeat;
    background-size: contain;

    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumb-info {
  background: white;
  width: 100%;
  height: 65px;
}

.thumb-name {
    color: #ef1c48;
    height: 12px;
    font-size: 11px;
    line-height: 1.1em;

    display:inline-block;
    width: 90%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;

    margin: 8px 0 0 8px;
}

.thumb-title {
    color: #464646;
    height: 12px; //24px;
    font-size: 11px;
    line-height: 1.1em;

    /* multiple line ellipsis */
    // overflow:hidden !important;
    // text-overflow: ellipsis;
    // display: block; /* Fallback for non-webkit */
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis;

    display:inline-block;
    width: 90%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;

    margin: 0 0 0 8px;
}

.thumb-price {
    color: #ef1c48;
    height: 12px;
    font-size: 11px;
    line-height: 1.1em;

    display:inline-block;
    width: 90%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;

    margin: 0 0 0 8px;
}

.thumb-price-sp {
    display: none;
    box-shadow: 0 1px 6px 0 rgba(161, 0, 51, .9);
}

.thumb-button {
    display: none;
}


// smartphone

.smartphone .swiper-slide {
    width: 196px;
    margin: 0;
    padding-bottom: 25px;
}

.smartphone .thumb-info {
    height: 46px;
}

.smartphone .thumb-title {
    display: none;
}

.smartphone .thumb-name {
    font-size: 16px;
    font-weight: 300;
    min-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ef1c48;
    text-align: center;
    margin: 5px;
    width: 100%;
    line-height: 1.2;
}

.smartphone .thumb-price {
    display: none;
}

.smartphone .thumb-price-sp {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    width: 112px;
    height: 24px;
    margin: auto;
    padding: 0 7px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 12px;
    background-color: #ef1c48;

    position: absolute;
    left: 50%;
    bottom: 72px;
    transform: translate(-50%, -50%);
}

.smartphone .thumb-button {
    font-size: 18px;
    font-weight: 800;
    display: block;
    padding: 8px 5px;
    text-align: center;
    color: #fff;
    border-bottom: solid 3px #a10033;
    background: #ef1c48;
    text-decoration: none;
}
