// desktop

.banner-bottom {
  background-image: url('/assets/img/special/hot-sales/bg-bottom.png');

  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain, contain;
  max-width: 980px;
  min-width: 748px;
  margin: 0 auto;
  padding-top: 100%;
  margin-top: -30%;
}

.banner-bottom-features {
  text-align: center;
  width: 100%;
  margin-top: -65%;
}



.banner-bottom-featurelist {
  margin: 0 auto;

  font-family: 'proxima-nova', 'Proxima Nova', 'helvetica-neue', helvetica, arial, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 16px;
}

.tablet .banner-bottom-featurelist {
  font-size: 12px;
}

.banner-bottom-featurelist li {
  display: inline-block;
  margin: 0 10px;
  padding: 11px 0 11px 35px;

  background-repeat: no-repeat;
  background-position: center left;
}

.banner-bottom-featurelist li:nth-child(1) {
  background-image: url('/assets/img/special/landing_pages/042/ico-hd.svg');
}

.banner-bottom-featurelist li:nth-child(2) {
  background-image: url('/assets/img/special/landing_pages/042/ico-download.svg');
}

.banner-bottom-featurelist li:nth-child(3) {
  background-image: url('/assets/img/special/landing_pages/042/ico-padlock.svg');
}

.banner-bottom-featurelist li:nth-child(4) {
  background-image: url('/assets/img/special/landing_pages/042/ico-heart.svg');
}


.banner-bottom-signup {
  text-align: center;
  width: 100%;
  margin-top: 35%;
}

.banner-bottom-btn-signup {
  display: block;
  margin: 5px auto;
}

.banner-bottom-text-signup {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #2C2C2C;
  width: 100%;
  text-shadow: 1px 1px white;
}


// smartphone

.smartphone .banner-bottom {
  display: none;
}
