// desktop

.logo {
    float: right;
    background-image: url('/assets/img/special/landing_pages/042/desktop/tit_logo_en.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    width: 480px;
    height: 240px;
    margin-right: 0;
}

.btn-logo {
    cursor: pointer;
    margin-top: 260px;
    text-decoration: none;
}


// smartphone

.smartphone .logo {
    background-image: url('/assets/img/special/landing_pages/042/smartphone/tit_logo_en.png');
    width: 90%;
    max-width: 339px;
    position: absolute;
    left: 50%;
    top: 165px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.smartphone .btn-logo {
    display: none;
}

.smartphone .btn-logo.btn-summer {
    display: none;
}

