// desktop

.gridlist {
    margin: 0;
    padding: 0;
    text-align: center;
}

.gridlist-title {
    font-family: 'museo-sans-rounded', sans-serif;
    color: #2a1a04;
    text-align: center;
    padding: 10px 0;
}

.gridlist-title-text {
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

.gridlist-scroller {
    position: relative;
    text-align: center;
    margin-top: -20px;
}

.gridlist-list {
    width: 100%;
    height: 100%;
    padding: 1px;
    text-align: center;
    display:inline-block;
    margin-bottom: 15px;
}
