// desktop

.banner-top {

}

.smartphone .banner-top {
    margin-top: -75%;
    margin-bottom: 75px;
}

.smartphone .banner-top-button {
  font-size: 13px;
  width: 90%;
  margin-left: 3%;
}

.banner-top-button {
  font-size: 28px;
  font-weight: 700;
  display: inline-block;
  padding: 4px 10px;
  letter-spacing: -.9px;
  color: #fff;
  border: solid 1px #B70000;
  border-width: 2px;
  border-radius: 3px;

  box-shadow: 0 8px 8px 0 rgba(231, 37, 38, .9);
  text-decoration: none;
  cursor: pointer;
  min-width: 300px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;

  width: 700px;
  background: black;
  margin-left: 20px;
  margin-top: 42%;
  margin-bottom: 20px;
}
